@model Amazon.Models.Vendor

@{
    ViewData["Title"] = "Edit";
}



<hr />
<div >
        <div class="editBg"></div>

    <div class="row">
        <div class="contact-form spad">
            <div class="container">
                <div class="row">


                    <div class="col-md-6 m-auto FormSection">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="contact__form__title">
                                    <h2>Edit vendor</h2>
                                </div>
                            </div>
                        </div>
                        <form asp-action="Create">
                            <div class="row">
                                <input type="hidden" asp-for="Id" />
                                <div class="col-lg-12 col-md-12">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="text" placeholder="Vendor Name" asp-for="Name">
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <input type="text" placeholder="Vendor Location" asp-for="Location">
                                    <span asp-validation-for="Location" class="text-danger"></span>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <input type="text" placeholder="Vendor Phone" asp-for="Phone">
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                    <button type="submit" class="site-btn">Edit Vendor</button>

                                </div>
                            </div>
                        </form>

                    </div>

                </div>

            </div>

        </div>



        @* <div class="col-md-12 m-auto">
            <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="Location" class="control-label"></label>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="Phone" class="control-label"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            </form>
            </div>*@
    </div>
    <div>
    <a asp-action="Index" class="ListBack"><i class="fa-solid fa-left-long"></i>Back to List</a>
</div>
</div>
<div class="">

</div>




@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
